.favoritesPage {
  max-width: 773px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 108px);
}

@media (max-width: 1024px) {
  .favoritesPage {
    padding: 15px;
  }
}
