.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 24px 0;
  margin-bottom: 40px;
  background-color: var(--white-color);
}

.header__logo {
  position: absolute;
  left: 162px;
}

@media (max-width: 1200px) {
  .header {
    justify-content: space-around;
  }

  .header__logo {
    position: relative;
    left: 0;
  }
}

.rootWrapper {
  background-color: var(--white-color);
}