.vacancyPage {
}

.vacancyPage__container {
  max-width: 725px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1024px) {
  .vacancyPage {
    padding: 15px;
  }
}
